.loading {
	width: 35px;
	height: 35px;
	.foreground {
		position: absolute;
		top: 0;
		left: 0;
	}
}

.fullscreen-loading {
	transition: 1s ease-in-out;
	position: fixed;
	z-index: 2;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(19, 23, 55);
	.loading {
		position: absolute;
    	top: 40vh;
    	left: 50%;
    	-ms-transform: translate(-50%, -50%);
    	transform: translate(-50%, -50%);
		width: 100px;
		height: 100px;
	}
}

